.App {
  text-align: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  color:white;
  height: 10vh;
}

.select-wrapper {
  width: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 30px;
  font-weight: bold;
}

.content-wrapper {
  background-color: bisque;
  margin: 0;
  height: 90vh;
}